.ggPost9305 .ggPostHeader9305{
    padding: 10px;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--grey);
}

.post-header {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 5px 0px 5px 5px;
}

.user-name {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin-bottom: 5px;
}

a, a:link, a:visited {
    color: #222;
    text-decoration: none;
}

a:hover {
    color: #222;
    text-decoration: underline;
}

.user-name .location {
    font-size: small;
    font-weight: 400;
}