.user-details-header-right {
    width: 65%;
    padding: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.ggProfileUsername9305{
    font-size: 30px;
    font-weight: 300;
}
.ggProfile9305 .ggProfileHeader9305 .ggProfileUserInfo9305{
    flex-direction: column;
}
.ggProfileUserInfo9305
{
    flex-direction: column;
    /* justify-content: center; */
    margin: 0 10px;
    font-size: 15px;
    margin-right: 0;
    margin-top: 35px;
    font-size: 15px;
    /* text-align: center; */
}
/* .ggProfileUserStats9305{
    margin-top: 16px;
    font-size: 18px;
    margin: 0 20px 0 0px;
} */
.ggProfileName9305{
    margin-top: 24px;
    font-size: 18px;
}
.ggProfileBio9305{
    font-size: 16px;
    font-weight: 300;
    margin-top: 8px;
    width:100%;
    position: relative; 
    white-space: wrap;
}
.user-details-header-right .username {
    margin-bottom: 20px;
    font-weight: 300;
    font-size:xx-large;
}

.user-details-header-right .stats {
    margin-bottom: 20px;
}

.user-details-header-right .name {
    font-weight: 700;
    margin-bottom: 10px;
}

.user-details-header-right .bio {
    font-weight: 300;
    margin-bottom: 10px;
}

.user-details-header-right .location {
    font-weight: 400;
    color: #9a9a9a;
}

@media screen and (max-width: 800px){
    .user-details-header-right {
        width: auto;
    }
}

@media screen and (max-width: 590px) {
    .ggProfileUserInfo9305 {
        align-items: center;
    }
    
    .ggProfileUsername9305{
        font-size: 25px;
        margin-top:-44px;
        margin-bottom:34px;
    }
    .ggProfileName9305{
        margin-top: 12px;
        font-size: 15px;

        text-align: center;
        
    }
    .ggProfileBio9305{
        margin-top: 12px;
        font-size: 13px;
        text-align: center;
    }
}




